<main class='p-5'>
  <div class='card p-5'>
    <p id='test'>
      Hello world!
    </p>
  </div>
  <div
    style='padding: 50px 0 50px 100px; background: gray;'
  >
    <span>InLine</span>
    <span>InLine</span>
    <span>InLine</span>

    <span class='block'>InLine-block</span>
  </div>
</main>