{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}

<div class='p-5 box'>
  <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
  <h2 id='user'>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h2>
  <button
    type='button'
    class='btn btn-primary'
  >Купити</button>
  <p class='user'>This is text</p>
</div>

<footer class='p-5 box'>
  <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>

  <p class='user'>This is text</p>
</footer>
{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}
<div class='card p-5 m-5 card-dark'>
  <ul>
    <li class='item'>1</li>
    <li class='item'>1</li>
    <li class='item'>1</li>
    <li class='item'>1</li>
  </ul>
</div>
<div class='card p-5 m-5 card-dark'>
  <input
    class='input-dark'
    placeholder='This is text'
    required
  />
  <input class='input-dark' type='number' />
</div>

<div class='card p-5 m-5 card-dark'>
  <img
    alt='image small card 100px'
    class='small-img'
    src='https://picsum.photos/200/300'
    height='100px'
  />
  <button class='btn'>Click me</button>
  <br />
  <a
    class='btn btn-secondary'
    href='https://picsum.photos/200/300'
  >Click me</a>
</div>
<div class='card p-5 m-5 card-dark'>
  <p class='big-text'>Lorem ipsum <br /> dolor sit amet </p>
</div>
<div class='card p-5 m-5 card-dark'>
  <a classs='link' href='https://www.google.com.ua/'>Click
    me</a>
</div>

<div id='test' class='card p-5 m-5 card-dark'>
  <input type='text' />
</div>