.card > p {
  color: green;
  -webkit-text-fill-color: red;
  -webkit-text-stroke: 1px blue;

  /* writing-mode: vertical-rl; */
  text-align: center;
  letter-spacing: 100%;
}
pre {
  tab-size: 10px;
}

* {
  font-family: fantasy;
  font-size: 25px;
  font-weight: 100;
}
.test {
  display: block;
}

.block {
  display: block;
  background: rgb(185, 182, 182);
  margin: auto;

  width: min-content;
}
