<div class="post_item">
    <h3 class="post_title">{{title}}</h3>
    <div class="post_subtitle">
        <span class="post_date">{{date}}</span>
        <span class="post_author">{{author}}</span>
    </div>
    <p class="post_text">{{description}}</p>
    <a href='#' class='preview_link'>Continue reading</a>
    {{> line}}
</div>